section.rtp_about__page
	h2.rtp_section__title: span Portfolio
	.rtp_thumb__holder
		.rtp_about__thumbnail(style="background-image: url(assets/img/duietczn7o4-cristina-gottardi.jpg);")

.rtp_portfolio__container
	.rtp_container
		.rtp_row
			.col.col--4-of-4
				.rtp_portfolio__items.rtp_portfpg_items#links
					// portfolio item
					.col.col--1-of-3.mix.web.grid_item
						.rtp_portfolio__item
							a(href="assets/img/gallery_images/hi.jpg").rtp_image__holder
								img(src="assets/img/gallery_images/hi.jpg", alt="image")
					// portfolio item
					.col.col--1-of-3.mix.web.grid_item
						.rtp_portfolio__item
							a(href="assets/img/gallery_images/image_1.jpg").rtp_image__holder
								img(src="assets/img/gallery_images/image_1.jpg", alt="image")
					// portfolio item
					.col.col--1-of-3.mix.photog.grid_item
						.rtp_portfolio__item
							a(href="assets/img/gallery_images/image_2.jpg").rtp_image__holder
								img(src="assets/img/gallery_images/image_2.jpg", alt="image")
					// portfolio item
					.col.col--1-of-3.mix.web.grid_item
						.rtp_portfolio__item
							a(href="assets/img/gallery_images/image_3.jpg").rtp_image__holder
								img(src="assets/img/gallery_images/image_3.jpg", alt="image")
					// portfolio item
					.col.col--1-of-3.mix.photog.grid_item
						.rtp_portfolio__item
							a(href="assets/img/gallery_images/image_4.jpg").rtp_image__holder
								img(src="assets/img/gallery_images/image_4.jpg", alt="image")
					// portfolio item
					.col.col--1-of-3.mix.web.grid_item
						.rtp_portfolio__item
							a(href="assets/img/gallery_images/image_5.jpg").rtp_image__holder
								img(src="assets/img/gallery_images/image_5.jpg", alt="image")
					// portfolio item
					.col.col--1-of-3.mix.design.grid_item
						.rtp_portfolio__item
							a(href="assets/img/gallery_images/image_6.jpg").rtp_image__holder
								img(src="assets/img/gallery_images/image_6.jpg", alt="image")
					// portfolio item
					.col.col--1-of-3.mix.design.grid_item
						.rtp_portfolio__item
							a(href="assets/img/gallery_images/image_1.jpg").rtp_image__holder
								img(src="assets/img/gallery_images/image_1.jpg", alt="image")
#blueimp-gallery.blueimp-gallery.blueimp-gallery-controls
	.slides
	h3.title
	a.prev
	a.next
	a.close
	a.play-pause
	ol.indicator