section.rtp_about__page
	h2.rtp_section__title: span About Me
	.rtp_thumb__holder
		.rtp_about__thumbnail(style="background-image: url(assets/img/duietczn7o4-cristina-gottardi.jpg);")
	.rtp_container
		.rtp_about__content
			h2 Hi! My name is Austin
			.rtp_row
				.col.col--2-of-2
					p.rtp_p__left <strong>Вже давно відомо</strong>, що читабельний зміст буде заважати зосередитись людині, яка оцінює композицію сторінки. Сенс використання Lorem Ipsum полягає в тому, що цей текст має більш-менш нормальне розподілення літер на відміну від, наприклад, "Тут іде текст. Тут іде текст." Це робить текст схожим на оповідний.
				.col.col--1-of-2
					h3.rtp_about__high Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deserunt, ratione! ipsum dolor sit amet, consectetur adipisicing elit. 
				.col.col--1-of-2
					p.rtp_p__right Існує багато варіацій уривків з Lorem Ipsum, але більшість з них зазнала певних змін на кшталт жартівливих вставок або змішування слів, які навіть не виглядають правдоподібно. Якщо ви збираєтесь використовувати Lorem Ipsum, ви маєте упевнитись.
.rtp_about__features
	.rtp_container
		.rtp_row
			.col.col--1-of-3
				// about fact
				.rtp_fact__item
					.rtp_fact__icon
						i.fa.fa-bath
					.rtp_fact__text
						p 5000 СНІМКІВ В ВАННІЙ
			.col.col--1-of-3
				// about fact
				.rtp_fact__item
					.rtp_fact__icon
						i.fa.fa-superpowers
					.rtp_fact__text
						p 400+ ЩАСЛИВИХ КЛІЄНТІВ
			.col.col--1-of-3
				// about fact
				.rtp_fact__item
					.rtp_fact__icon
						i.fa.fa-coffee
					.rtp_fact__text
						p 1200 ЧАШОК КАВИ
