// About section start
section.rtp_about#rtp_s__about
	.rtp_container
		h2.rtp_section__title About Me
		.rtp_row
			.col.col--5-of-12
				.rtp_about__image
					img(src="assets/img/bcvfsbyqn2g-brooke-cagle.jpg", alt="image")
			.col.col--7-of-12.col--am
				// ABOUT ME CONTENT
				.rtp_about__content
					h3  Hi! My name is Lorem Ipsum and This is my story!
					p.muted  На відміну від поширеної думки Lorem Ipsum не є випадковим набором літер. Тобто має більш як 2000-річну історію. Річард Макклінток, професор латини з коледжу Хемпдін-Сидні, що у Вірджінії, вивчав одне з найменш зрозумілих латинських слів.
					p Також точно за оригіналом наведено розділи 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" разом із перекладом англійською, виконаним 1914 року Х.Рекемом.
					// social links
					ul.rtp_social
						li: a(href="#"): i.fa.fa-behance
						li: a(href="#"): i.fa.fa-facebook
						li: a(href="#"): i.fa.fa-youtube
						li: a(href="#"): i.fa.fa-twitter
// About section end