// Hero Section start
section.rtp_hero__section#scroll_to__top
	.rtp_hero__slider
		.rtp_hero__slide(style="background-image: url(assets/img/1-isiwubmiw-kimon-maritz.jpg)")
			.col.col--10-of-12.col--push-1-of-12
				.rtp_content__wrap
					// Hero Content Start
					.rtp_hero__content
						h1 A Professional
							span  Web developer.
						p Стандартний Lorem Ipsum, використовуваний з XVI ст.
						a(href="about.html").scroll_to__section.rtp_btn Хочу більше
		.rtp_hero__slide(style="background-image: url(assets/img/bcvfsbyqn2g-brooke-cagle.jpg)")
			.col.col--10-of-12.col--push-1-of-12
				.rtp_content__wrap
					// Hero Content Start
					.rtp_hero__content
						h1 A Professional
							span  Web developer.
						p Стандартний Lorem Ipsum, використовуваний з XVI ст.
						a(href="about.html").scroll_to__section.rtp_btn Хочу більше

// Hero Section end