// Testimonials section start
section.rtp_testimonials#rtp_s__testimonials(style="background-image: url(assets/img/nww_-_ol8hy-fano-miasta.jpg")
 .rtp_container
  .rtp_content__wrap
   .rtp_row
    .col.col--12-of-12
     .rtp_testimonial__carousel
      // single testimonial start
      .rtp_single__testimonial
       h3 Simon Paula
       p Існує багато варіацій уривків з Lorem Ipsum, але більшість з них зазнала певних змін на кшталт жартівливих вставок або змішування слів, які навіть не виглядають правдоподібно.
      // single testimonial end
      // single testimonial start
      .rtp_single__testimonial
       h3 Dafi Mano
       p Існує багато варіацій уривків з Lorem Ipsum, але більшість з них зазнала певних змін на кшталт жартівливих вставок або змішування слів, які навіть не виглядають правдоподібно.
      // single testimonial end
      // single testimonial start
      .rtp_single__testimonial
       h3 Jei di Bama
       p Існує багато варіацій уривків з Lorem Ipsum, але більшість з них зазнала певних змін на кшталт жартівливих вставок або змішування слів, які навіть не виглядають правдоподібно.
      // single testimonial end
// Testimonials section end
