// Services section start
section.rtp_services#rtp_s__services(style="background-image: url(assets/img/duietczn7o4-cristina-gottardi.jpg)")
	.rtp_container
		.rtp_content__wrap
			h2.rtp_section__title Services
			.rtp_row
				.col.col--12-of-12
					// single service start
					.rtp_service__single
						.rtp_service__icon
							i.fa.fa-desktop
						.rtp_service__content
							h4 Web Development
							p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя.
					// single service end
					// single service start
					.rtp_service__single
						.rtp_service__icon
							i.fa.fa-tablet
						.rtp_service__content
							h4 App Development
							p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя.
					// single service end
					// single service start
					.rtp_service__single
						.rtp_service__icon
							i.fa.fa-wordpress
						.rtp_service__content
							h4 Wordpress Development
							p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя.
					// single service end
					// single service start
					.rtp_service__single
						.rtp_service__icon
							i.fa.fa-pencil
						.rtp_service__content
							h4 UI / UX Design
							p Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя.
					// single service end
// Services section end