// Prices section start
section.rtp_prices#rtp_s__prices
	.rtp_container
		.rtp_row
			.col.col--10-of-12
				// price item start
				.col.col--1-of-3
					.rtp_price__single
						.rtp_price__icon
							i.fa.fa-user
						h3.rtp_price__title Personal
						.rtp_price__price $ 
							span.rtp_pr_num 30 
							span  /mo.
						ul.rtp_price__items
							li 6 Month Support 
							li Cool updates
							li Theme Documentation
							li 1 Website License
						a(href="#rtp_s__contacts").scroll_to__section.rtp_price__submit.rtp_btn Purchase Now
				// price item end
				// price item start
				.col.col--1-of-3
					.rtp_price__single
						.rtp_price_best Best choise
						.rtp_price__icon
							i.fa.fa-coffee
						h3.rtp_price__title SMALL TEAM
						.rtp_price__price $
							span.rtp_pr_num  45 
							span  /mo.
						ul.rtp_price__items
							li 6 Month Support
							li Cool updates
							li Theme Documentation
							li 2 Website License
						a(href="#rtp_s__contacts").scroll_to__section.rtp_price__submit.rtp_btn Purchase Now
				// price item end
				// price item start
				.col.col--1-of-3
					.rtp_price__single
						.rtp_price__icon
							i.fa.fa-users
						h3.rtp_price__title COMPANY
						.rtp_price__price $
							span.rtp_pr_num  63 
							span  /mo.
						ul.rtp_price__items
							li 12 Month Support
							li Cool updates
							li Theme Documentation
							li 2 Website License
						a(href="#rtp_s__contacts").scroll_to__section.rtp_price__submit.rtp_btn Purchase Now
				// price item end
			// section title start
			.col.col--2-of-12
				.rtp_section__title
					h2 My 
						span  Prices
// Prices section end