// portfolio section start
section.rtp_portfolio.rtp_box__panel#rtp_s__portfolio
	.rtp_section__title.tar
		h2 My 
			span  Works
	.rtp_row
		.col.col--12-of-12
			nav.rtp_portfolio__nav
				ul.rtp_portfolio__list
					li(data-filter="all") All
					li(data-filter=".web") Web
					li(data-filter=".photog") Photography
					li(data-filter=".design") Design
	.rtp_row
		.col.col--12-of-12
			.rtp_portfolio__items
				// portfolio item
				.col.col--1-of-3.mix.web
					.rtp_portfolio__item
						a(href="assets/img/portfolio_images/3vqmhzqpdiy-austin-neill.jpg" class="portfolio_popup").rtp_image__holder
							img(src="assets/img/portfolio_images/3vqmhzqpdiy-austin-neill.jpg", alt="image")
				// portfolio item
				.col.col--1-of-3.mix.photog
					.rtp_portfolio__item
						a(href="assets/img/portfolio_images/5uvmdgzzaoq-christos-barbalis.jpg" class="portfolio_popup").rtp_image__holder
							img(src="assets/img/portfolio_images/5uvmdgzzaoq-christos-barbalis.jpg", alt="image")
				// portfolio item
				.col.col--1-of-3.mix.photog
					.rtp_portfolio__item
						a(href="assets/img/portfolio_images/ebgr1szj3dg-maroquotidien-plus.jpg" class="portfolio_popup").rtp_image__holder 
								img(src="assets/img/portfolio_images/ebgr1szj3dg-maroquotidien-plus.jpg", alt="image")
				// portfolio item
				.col.col--1-of-3.mix.design
					.rtp_portfolio__item
						a(href="assets/img/portfolio_images/ec4fon7msxg-jimmy-chang.jpg" class="portfolio_popup").rtp_image__holder
							img(src="assets/img/portfolio_images/ec4fon7msxg-jimmy-chang.jpg", alt="image")
				// portfolio item
				.col.col--1-of-3.mix.web
					.rtp_portfolio__item
						a(href="assets/img/portfolio_images/murmtbd8s3y-ivars-krutainis.jpg" class="portfolio_popup").rtp_image__holder
							img(src="assets/img/portfolio_images/murmtbd8s3y-ivars-krutainis.jpg", alt="image")
				// portfolio item
				.col.col--1-of-3.mix.design
					.rtp_portfolio__item
						a(href="assets/img/portfolio_images/zuqdqlfavi4-tamarcus-brown.jpg" class="portfolio_popup").rtp_image__holder 
								img(src="assets/img/portfolio_images/zuqdqlfavi4-tamarcus-brown.jpg", alt="image")
// portfolio section end