
<!-- header start-->
<header class="rtp_header"> 
  <div class="rtp_container">
    <div class="rtp_row">
      <div class="col col--12-of-12 posrel">
        <!-- Site logo -->
        <div class="rtp_logo"><a href="index.html">Your Logo</a>
        </div>
        <div class="rtp_header__trigger">
          <div class="off_show__screen"><i class="fa fa-bars"></i><i class="fa fa-times"></i></div>
        </div>
      </div>
      <div class="col col--12-of-12">
        <!-- main navigation start-->
        <nav class="rtp_nav nav_closed">
          <ul class="rtp_nav__list">
            <li><a href="index.html">Головна</a></li>
            <li><a href="about.html">Про мене</a></li>
            <li><a href="portfolio.html">Портфоліо</a></li>
            <li><a href="contact.html">Контакти</a></li>
          </ul>
        </nav>
        <!-- main navigation end-->
      </div>
    </div>
  </div>
</header>
<!-- header end-->