
<section class="rtp_contacts">
  <div class="rtp_section__header">
    <div class="rtp_section__bg"></div>
    <div class="rtp_head__content">
      <div id="map" class="rtp_welcome__thumbnail"></div>
    </div>
  </div>
  <div class="rtp_container">
    <div class="rtp_row">
      <div class="col col--4-of-6">
        <div class="rtp_contact__form">
          <form method="post" id="contact_form">
            <div class="rtp_row">
              <div class="col col--1-of-2 rtp_form__group">
                <input type="text" placeholder="Name" name="name" id="first-name" required="required" class="form_input"/>
              </div>
              <div class="col col--1-of-2 rtp_form__group">
                <input type="text" placeholder="Email" name="email" id="email" required="required" class="form_input"/>
              </div>
              <div class="col col--12-of-12 rtp_form__group">
                <textarea rows="6" placeholder="Write your message" name="message" id="text_message" required="required" class="form_input"></textarea>
              </div>
              <div class="col col--12-of-12 rtp_form__group">
                <input type="submit" value="Send Message" name="message" id="send_message" class="form_submit rtp_btn"/>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col col--2-of-6">
        <div class="rtp_contact__meta">
          <h3>You can contact me</h3>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Impedit, hic quidem recusandae! Deleniti dignissimos nesciunt, similique architecto veritatis odio ipsum blanditiis.</p>
          <div class="rtp_contact__item">
            <ul class="rtp_social">
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram"></i></a></li>
              <li><a href="#"><i class="fa fa-youtube"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-behance"></i></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>