
<section class="rtp_about__page">
  <h2 class="rtp_section__title"><span>Portfolio</span></h2>
  <div class="rtp_thumb__holder">
    <div style="background-image: url(assets/img/duietczn7o4-cristina-gottardi.jpg);" class="rtp_about__thumbnail"></div>
  </div>
</section>
<div class="rtp_portfolio__container">
  <div class="rtp_container">
    <div class="rtp_row">
      <div class="col col--4-of-4">
        <div id="links" class="rtp_portfolio__items rtp_portfpg_items">
          <!-- portfolio item-->
          <div class="col col--1-of-3 mix web grid_item">
            <div class="rtp_portfolio__item"><a href="assets/img/gallery_images/hi.jpg" class="rtp_image__holder"><img src="assets/img/gallery_images/hi.jpg" alt="image"/></a></div>
          </div>
          <!-- portfolio item-->
          <div class="col col--1-of-3 mix web grid_item">
            <div class="rtp_portfolio__item"><a href="assets/img/gallery_images/image_1.jpg" class="rtp_image__holder"><img src="assets/img/gallery_images/image_1.jpg" alt="image"/></a></div>
          </div>
          <!-- portfolio item-->
          <div class="col col--1-of-3 mix photog grid_item">
            <div class="rtp_portfolio__item"><a href="assets/img/gallery_images/image_2.jpg" class="rtp_image__holder"><img src="assets/img/gallery_images/image_2.jpg" alt="image"/></a></div>
          </div>
          <!-- portfolio item-->
          <div class="col col--1-of-3 mix web grid_item">
            <div class="rtp_portfolio__item"><a href="assets/img/gallery_images/image_3.jpg" class="rtp_image__holder"><img src="assets/img/gallery_images/image_3.jpg" alt="image"/></a></div>
          </div>
          <!-- portfolio item-->
          <div class="col col--1-of-3 mix photog grid_item">
            <div class="rtp_portfolio__item"><a href="assets/img/gallery_images/image_4.jpg" class="rtp_image__holder"><img src="assets/img/gallery_images/image_4.jpg" alt="image"/></a></div>
          </div>
          <!-- portfolio item-->
          <div class="col col--1-of-3 mix web grid_item">
            <div class="rtp_portfolio__item"><a href="assets/img/gallery_images/image_5.jpg" class="rtp_image__holder"><img src="assets/img/gallery_images/image_5.jpg" alt="image"/></a></div>
          </div>
          <!-- portfolio item-->
          <div class="col col--1-of-3 mix design grid_item">
            <div class="rtp_portfolio__item"><a href="assets/img/gallery_images/image_6.jpg" class="rtp_image__holder"><img src="assets/img/gallery_images/image_6.jpg" alt="image"/></a></div>
          </div>
          <!-- portfolio item-->
          <div class="col col--1-of-3 mix design grid_item">
            <div class="rtp_portfolio__item"><a href="assets/img/gallery_images/image_1.jpg" class="rtp_image__holder"><img src="assets/img/gallery_images/image_1.jpg" alt="image"/></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="blueimp-gallery" class="blueimp-gallery blueimp-gallery-controls">
  <div class="slides"></div>
  <h3 class="title"></h3><a class="prev"></a><a class="next"></a><a class="close"></a><a class="play-pause"></a>
  <ol class="indicator"></ol>
</div>