
<!-- portfolio section start-->
<section id="rtp_s__portfolio" class="rtp_portfolio">
  <div class="rtp_container">
    <h2 class="rtp_section__title">Portfolio</h2>
    <h5 class="rtp_sTitle">Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя.</h5>
    <div class="rtp_row">
      <div class="col col--12-of-12">
        <!-- portfolio navigation-->
        <nav class="rtp_portfolio__nav">
          <ul class="rtp_portfolio__list">
            <li data-filter="all">All</li>
            <li data-filter=".web">Web</li>
            <li data-filter=".photog">Photography</li>
            <li data-filter=".design">Design</li>
          </ul>
        </nav>
      </div>
      <div class="col col--12-of-12">
        <div class="rtp_portfolio__items">
          <!-- portfolio item-->
          <div class="col col--1-of-3 mix web">
            <div class="rtp_portfolio__item"><a href="assets/img/portfolio_images/3vqmhzqpdiy-austin-neill.jpg" class="portfolio_popup rtp_image__holder"><img src="assets/img/portfolio_images/3vqmhzqpdiy-austin-neill.jpg" alt="image"/></a></div>
          </div>
          <!-- portfolio item-->
          <div class="col col--1-of-3 mix photog">
            <div class="rtp_portfolio__item"><a href="assets/img/portfolio_images/5uvmdgzzaoq-christos-barbalis.jpg" class="portfolio_popup rtp_image__holder"><img src="assets/img/portfolio_images/5uvmdgzzaoq-christos-barbalis.jpg" alt="image"/></a></div>
          </div>
          <!-- portfolio item-->
          <div class="col col--1-of-3 mix photog">
            <div class="rtp_portfolio__item"><a href="assets/img/portfolio_images/ebgr1szj3dg-maroquotidien-plus.jpg" class="portfolio_popup rtp_image__holder"> <img src="assets/img/portfolio_images/ebgr1szj3dg-maroquotidien-plus.jpg" alt="image"/></a></div>
          </div>
          <!-- portfolio item-->
          <div class="col col--1-of-3 mix design">
            <div class="rtp_portfolio__item"><a href="assets/img/portfolio_images/ec4fon7msxg-jimmy-chang.jpg" class="portfolio_popup rtp_image__holder"><img src="assets/img/portfolio_images/ec4fon7msxg-jimmy-chang.jpg" alt="image"/></a></div>
          </div>
          <!-- portfolio item-->
          <div class="col col--1-of-3 mix web">
            <div class="rtp_portfolio__item"><a href="assets/img/portfolio_images/murmtbd8s3y-ivars-krutainis.jpg" class="portfolio_popup rtp_image__holder"><img src="assets/img/portfolio_images/murmtbd8s3y-ivars-krutainis.jpg" alt="image"/></a></div>
          </div>
          <!-- portfolio item-->
          <div class="col col--1-of-3 mix design">
            <div class="rtp_portfolio__item"><a href="assets/img/portfolio_images/zuqdqlfavi4-tamarcus-brown.jpg" class="portfolio_popup rtp_image__holder"> <img src="assets/img/portfolio_images/zuqdqlfavi4-tamarcus-brown.jpg" alt="image"/></a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- portfolio section end-->