
<!-- Services section start-->
<section id="rtp_s__services" style="background-image: url(assets/img/duietczn7o4-cristina-gottardi.jpg)" class="rtp_services">
  <div class="rtp_container">
    <div class="rtp_content__wrap">
      <h2 class="rtp_section__title">Services</h2>
      <div class="rtp_row">
        <div class="col col--12-of-12">
          <!-- single service start-->
          <div class="rtp_service__single">
            <div class="rtp_service__icon"><i class="fa fa-desktop"></i></div>
            <div class="rtp_service__content">
              <h4>Web Development</h4>
              <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя.</p>
            </div>
          </div>
          <!-- single service end-->
          <!-- single service start-->
          <div class="rtp_service__single">
            <div class="rtp_service__icon"><i class="fa fa-tablet"></i></div>
            <div class="rtp_service__content">
              <h4>App Development</h4>
              <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя.</p>
            </div>
          </div>
          <!-- single service end-->
          <!-- single service start-->
          <div class="rtp_service__single">
            <div class="rtp_service__icon"><i class="fa fa-wordpress"></i></div>
            <div class="rtp_service__content">
              <h4>Wordpress Development</h4>
              <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя.</p>
            </div>
          </div>
          <!-- single service end-->
          <!-- single service start-->
          <div class="rtp_service__single">
            <div class="rtp_service__icon"><i class="fa fa-pencil"></i></div>
            <div class="rtp_service__content">
              <h4>UI / UX Design</h4>
              <p>Lorem Ipsum - це текст-"риба", що використовується в друкарстві та дизайні. Lorem Ipsum є, фактично, стандартною "рибою" аж з XVI сторіччя.</p>
            </div>
          </div>
          <!-- single service end-->
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services section end-->