
<!-- Hero Section start-->
<section id="scroll_to__top" class="rtp_hero__section">
  <div class="rtp_hero__slider">
    <div style="background-image: url(assets/img/1-isiwubmiw-kimon-maritz.jpg)" class="rtp_hero__slide">
      <div class="col col--10-of-12 col--push-1-of-12">
        <div class="rtp_content__wrap">
          <!-- Hero Content Start-->
          <div class="rtp_hero__content">
            <h1>A Professional<span> Web developer.</span></h1>
            <p>Стандартний Lorem Ipsum, використовуваний з XVI ст.</p><a href="about.html" class="scroll_to__section rtp_btn">Хочу більше</a>
          </div>
        </div>
      </div>
    </div>
    <div style="background-image: url(assets/img/bcvfsbyqn2g-brooke-cagle.jpg)" class="rtp_hero__slide">
      <div class="col col--10-of-12 col--push-1-of-12">
        <div class="rtp_content__wrap">
          <!-- Hero Content Start-->
          <div class="rtp_hero__content">
            <h1>A Professional<span> Web developer.</span></h1>
            <p>Стандартний Lorem Ipsum, використовуваний з XVI ст.</p><a href="about.html" class="scroll_to__section rtp_btn">Хочу більше</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Hero Section end-->