
<!-- About section start-->
<section id="rtp_s__about" class="rtp_about">
  <div class="rtp_container">
    <h2 class="rtp_section__title">About Me</h2>
    <div class="rtp_row">
      <div class="col col--5-of-12">
        <div class="rtp_about__image"><img src="assets/img/bcvfsbyqn2g-brooke-cagle.jpg" alt="image"/></div>
      </div>
      <div class="col col--7-of-12 col--am">
        <!-- ABOUT ME CONTENT-->
        <div class="rtp_about__content">
          <h3> Hi! My name is Lorem Ipsum and This is my story!</h3>
          <p class="muted"> На відміну від поширеної думки Lorem Ipsum не є випадковим набором літер. Тобто має більш як 2000-річну історію. Річард Макклінток, професор латини з коледжу Хемпдін-Сидні, що у Вірджінії, вивчав одне з найменш зрозумілих латинських слів.</p>
          <p>Також точно за оригіналом наведено розділи 1.10.32 та 1.10.33 цицеронівського "de Finibus Bonorum et Malorum" разом із перекладом англійською, виконаним 1914 року Х.Рекемом.</p>
          <!-- social links-->
          <ul class="rtp_social">
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- About section end-->