
<!-- Services section start-->
<section id="rtp_s__services" style="background-image: url(assets/img/duietczn7o4-cristina-gottardi.jpg)" class="rtp_services rtp_box__panel">
  <div class="rtp_content__wrap">
    <div class="rtp_row">
      <div class="col col--11-of-12">
        <!-- single service start-->
        <div class="col col--1-of-2">
          <div class="rtp_service__single">
            <div class="rtp_service__icon"><i class="fa fa-desktop"></i></div>
            <div class="rtp_service__content">
              <h4>Web Development</h4>
              <p> Lorem ipsum dolor sit amet. ipsum dolor sit amet, consectetur adipisicing elit. Sequi nam in eum, saepe, voluptate consectetur.</p>
            </div>
          </div>
        </div>
        <!-- single service end-->
        <!-- single service start-->
        <div class="col col--1-of-2">
          <div class="rtp_service__single">
            <div class="rtp_service__icon"><i class="fa fa-tablet"></i></div>
            <div class="rtp_service__content">
              <h4>App Development</h4>
              <p> Lorem ipsum dolor sit amet. ipsum dolor sit amet, consectetur adipisicing elit. Sequi nam in eum, saepe, voluptate consectetur.</p>
            </div>
          </div>
        </div>
        <!-- single service end-->
        <!-- single service start-->
        <div class="col col--1-of-2">
          <div class="rtp_service__single">
            <div class="rtp_service__icon"><i class="fa fa-wordpress"></i></div>
            <div class="rtp_service__content">
              <h4>Wordpress Development</h4>
              <p> Lorem ipsum dolor sit amet. ipsum dolor sit amet, consectetur adipisicing elit. Sequi nam in eum, saepe, voluptate consectetur.</p>
            </div>
          </div>
        </div>
        <!-- single service end-->
        <!-- single service start-->
        <div class="col col--1-of-2">
          <div class="rtp_service__single">
            <div class="rtp_service__icon"><i class="fa fa-pencil"></i></div>
            <div class="rtp_service__content">
              <h4>UI / UX Design</h4>
              <p> Lorem ipsum dolor sit amet. ipsum dolor sit amet, consectetur adipisicing elit. Sequi nam in eum, saepe, voluptate consectetur.</p>
            </div>
          </div>
        </div>
        <!-- single service end-->
      </div>
      <div class="col col--1-of-12">
        <!-- section title-->
        <div class="rtp_section__title">
          <h2>My <span> Services</span></h2>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Services section end-->