
<!-- header start-->
<header class="rtp_header"> 
  <div class="rtp_container">
    <div class="rtp_row">
      <div class="col col--2-of-12 posrel">
        <!-- Site Logo-->
        <div class="rtp_logo"><a href="index.html">Rejento</a>
        </div>
        <div class="toggle_navbar"><i class="fa fa-bars"></i></div>
      </div>
      <div class="col col--10-of-12">
        <!-- main navigation start-->
        <nav class="rtp_nav nav_closed">
          <ul class="rtp_nav__list">
            <li><a href="#scroll_to__top" class="scroll_to__section">Home</a></li>
            <li><a href="#rtp_s__about" class="scroll_to__section">About</a></li>
            <li><a href="#rtp_s__services" class="scroll_to__section">SERVICES</a></li>
            <li><a href="#rtp_s__portfolio" class="scroll_to__section">Portfolio</a></li>
            <li><a href="#rtp_s__prices" class="scroll_to__section">Prices</a></li>
            <li><a href="#rtp_s__contacts" class="scroll_to__section">Contacts</a></li>
          </ul>
        </nav>
        <!-- main navigation end-->
      </div>
    </div>
  </div>
</header>
<!-- header end-->
<!-- Hero Section start-->
<div class="rtp_hero__container"> 
  <section id="scroll_to__top" style="background-image: url(assets/img/1-isiwubmiw-kimon-maritz.jpg)" class="rtp_hero__section rtp_box__panel">
    <div class="rtp_row">
      <div class="col col--10-of-12 col--push-1-of-12">
        <div class="rtp_content__wrap">
          <!-- Hero Content-->
          <div class="rtp_hero__content">
            <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
            <h1>A Professional<span> Web developer.</span></h1><a href="#rtp_s__about" class="scroll_to__section rtp_btn">Learn more</a>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
<!-- Hero Section end-->