
<!-- About section start-->
<section id="rtp_s__about" class="rtp_about rtp_box__panel">
  <div class="rtp_row">
    <div class="col col--2-of-12 col--ab">
      <!-- section title-->
      <div class="rtp_section__title">
        <h2>About <span> me</span></h2>
      </div>
    </div>
    <div class="col col--4-of-12">
      <div class="rtp_about__image"><img src="assets/img/bcvfsbyqn2g-brooke-cagle.jpg" alt="image"/></div>
    </div>
    <div class="col col--6-of-12 col--am">
      <!-- ABOUT ME CONTENT-->
      <div class="rtp_about__content">
        <h3> Hi! My name is Lorem Ipsum and This is my story!</h3>
        <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quae omnis ipsam, quo in molestiae harum corporis, odio quis autem officia, facere repellendus quas. Optio quas, nesciunt repudiandae odit sequi veniam!</p>
        <!-- social links-->
        <ul class="rtp_social">
          <li><a href="#"><i class="fa fa-behance"></i></a></li>
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- About section end-->