
<!-- Contact section start-->
<section id="rtp_s__contacts" class="rtp_contact">
  <div class="rtp_container">
    <div class="rtp_row">
      <div class="col col--12-of-12 col--am">
        <!-- section sub title-->
        <h2 class="rtp_section__title">Contacts</h2>
        <p class="rtp_sTitle">Існує багато варіацій уривків з Lorem Ipsum, але більшість з них зазнала певних змін на кшталт жартівливих вставок!</p>
        <div class="rtp_contact__content">
          <!-- contact form start-->
          <div class="rtp_contact__form">
            <form method="post" id="contact_form">
              <div class="rtp_row">
                <div class="col col--1-of-2 rtp_form__group">
                  <input type="text" placeholder="Name" name="name" id="first-name" required="required" class="form_input"/>
                </div>
                <div class="col col--1-of-2 rtp_form__group">
                  <input type="text" placeholder="Email" name="email" id="email" required="required" class="form_input"/>
                </div>
                <div class="col col--12-of-12 rtp_form__group">
                  <textarea rows="6" placeholder="Write your message" name="message" id="text_message" required="required" class="form_input"></textarea>
                </div>
                <div class="col col--12-of-12 rtp_form__group">
                  <input type="submit" value="Send Message" name="message" id="send_message" class="form_submit"/>
                </div>
              </div>
            </form>
          </div>
          <!-- contact form start-->
          <!-- social links-->
          <ul class="rtp_social">
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Contact section end-->