<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- javascript scripts -->
  <script src="assets/js/responsive-nav.min.js"></script>
  <!-- css -->
  <link rel="stylesheet" href="assets/css/0-tools/fonts/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/0-tools/magnific-popup.css">
  <link rel="stylesheet" href="assets/css/0-tools/slick.css">
  <link rel="stylesheet" href="assets/css/0-tools/responsive-nav.css">
  <link rel="stylesheet" href="assets/css/main.css">

</head>
<body class="boxed_layout">



 {{ content }}

<!-- javascript scripts -->
<script src="assets/js/jquery-1.12.0.min.js"></script>
<script src="assets/js/mixitup.min.js"></script>
<script src="assets/js/SmoothScroll.min.js"></script>
<script src="assets/js/jquery.magnific-popup.min.js"></script>
<script src="assets/js/slick.min.js"></script>
<script src="assets/js/app.js"></script>
</body>
</html>
